/* InputPage.css */

.input-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-page h1 {
  margin-bottom: 20px;
}

.input-page label {
  margin: 10px 0;
}

.input-page ul {
  margin-top: 20px;
  padding: 0;
}

.input-page li {
  background-color: #e0e0e0;
}
