/* InputPage Styles */
.InputPage {
  max-width: 600px;
  width: 100%;
}

.InputPage label {
  font-weight: bold;
  margin-top: 10px;
}

.InputPage button {
  margin-top: 20px;
}

.InputPage ul {
  margin-top: 20px;
}

.InputPage li {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
